<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Человек</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/goInde}">Информация</a>
    </div>
</nav>
<div class="container mt-4">
    <h2>Поля для изменения модельки</h2>
    <form th:action="@{/updatePerson}" method="post">
        <div class="mb-3">
            <label for="id1" class="form-label">Номер продукта</label>
            <input type="text" class="form-control" id="id1" name="id1" th:value="*{id1}" readonly>
        </div>
        <div class="mb-3">
            <label for="name1" class="form-label">Название человека</label>
            <input type="text" class="form-control" id="name1" name="name1" th:value="*{name1}">
        </div>
        <div class="mb-3">
            <label for="secondName1" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="secondName1" name="secondName1" th:value="*{secondName1}">
        </div>
        <div class="mb-3">
            <label for="age1" class="form-label">Возраст</label>
            <input type="number" class="form-control" id="age1" name="age1" th:value="*{age1}" required>
        </div>
        <div class="mb-3">
            <label for="family1" class="form-label">Семейное положение</label>
            <input type="text" class="form-control" id="family1" name="family1" th:value="*{family1}">
        </div>
        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
</div>
</body>
</html>